In [13]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

url = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
df = pd.read_csv(url)

# Display Data Set Information
print("Dataset Info: ")
print(df.info())

# Preview first 5 Rows
print("\n\nFirst Five Rows")
print(df.head())

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None


First Five Rows
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [14]:
# One Hot Encoding 
df_onehot = pd.get_dummies(df, columns=["Sex", "Embarked"], drop_first=True)

# Display One Hot Encoded Dataset
print(df_onehot.head(3))

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3

                                                Name   Age  SibSp  Parch  \
0                            Braund, Mr. Owen Harris  22.0      1      0
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  38.0      1      0
2                             Heikkinen, Miss. Laina  26.0      0      0

             Ticket     Fare Cabin  Sex_male  Embarked_Q  Embarked_S
0         A/5 21171   7.2500   NaN      True       False        True
1          PC 17599  71.2833   C85     False       False       False
2  STON/O2. 3101282   7.9250   NaN     False       False        True

In [15]:
# Applyong Label Encoder
label = LabelEncoder()
df["Pclass_encoded"]= label.fit_transform(df["Pclass"])

# Displaying Labeled Encoded Data
print(df[["Pclass_encoded", "Pclass"]].head(3))

   Pclass_encoded  Pclass
0               2       3
1               0       1
2               2       3

In [16]:
# Apply Frequency Encoding
df["Ticket_frequency"] = df["Ticket"].map(df["Ticket"].value_counts())
print(df[["Ticket","Ticket_frequency"]].head())

             Ticket  Ticket_frequency
0         A/5 21171                 1
1          PC 17599                 1
2  STON/O2. 3101282                 1
3            113803                 2
4            373450                 1

In [17]:
print(df["Ticket"].head(),df["Ticket_frequency"].head())

0           A/5 21171
1            PC 17599
2    STON/O2. 3101282
3              113803
4              373450
Name: Ticket, dtype: object 0    1
1    1
2    1
3    2
4    1
Name: Ticket_frequency, dtype: int64

In [22]:
# # Selecting Features and Target 
# X = df_onehot.drop(columns=["Survived", "Name", "Ticket", "Cabin"])
# y = df["Survived"]

# # Train Test Split
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# # Fitting Logistic Regression
# model = LogisticRegression(max_iter=200)
# model.fit(X_train, y_train)

# # Making Predictions
# y_pred = model.predict(X_test)

# # Evaluating Model 
# print("Accuracy with One Hot Encoder: ", accuracy_score(y_test, y_pred))

""" 
this will not work due to NAN Values preswent so apply imputer
"""

' \nthis will not work due to NAN Values preswent so apply imputer\n'

In [26]:
from sklearn.impute import SimpleImputer
# Selecting Features and Target 
X = df_onehot.drop(columns=["Survived", "Name", "Ticket", "Cabin"])
y = df["Survived"]

# Train Test Split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Imputing Missing Value or NAN with mean
impute = SimpleImputer(strategy="mean")
impute.fit(X_train)

# Transforming Both the Data
X_train_imp = impute.transform(X_train)
X_test_imp = impute.transform(X_test)

# Logistic Regression
model_imp = LogisticRegression(max_iter=2000)
model_imp.fit(X_train_imp, y_train)

# Making Prediction
y_pred_imp = model_imp.predict(X_test_imp)

# Evaluate the Model
print("Accuracy with One Hot Encoded with Imputed Vals: ", accuracy_score(y_test, y_pred_imp))

Accuracy with One Hot Encoded with Imputed Vals:  0.8044692737430168